body {
  width: 955px;
  margin: auto;
}

section {
  width: 955px;
}

.whiteText {
  color: white;
}

.center {
  text-align: center;
}

.button1 {
  background-color: white;
  border: 2px black solid;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button2 {
  background-color: white;
  border: none;
  color: #C74870;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button3 {
  background-color: #C74870;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

header {
  display: flex;
}

.headerLogo {
  width: 225px;
  height: 60px;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

li {
  display: inline;
}

.banner {
  width: 955px;
}

.cards {
  width: 318.33px;
}

.card {
  width: 210px;
  height: 293px;
  padding-left: 18%;
  padding-right: 18%;
}

.sponsorLogo {
  width: 140px;
  height: 140px;
  padding: 15px;
}

.quote {
  width: 366px;
  height: 351.7px;
}

.collage {
  width: 955px;
}

footer {
  background-color: #1D3548;
}

.smallLogo {
  width: 65px;
  height: 86px;
  margin-left: 47%;
  margin-right: 47%;
  padding-top: 15px;
}
